.SectionEditionComponent {
  opacity: 0;
  .topbar {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    padding: 20px 0;
  }

  .add-before {
    position: absolute;
    left: 0;
    right: 0;
    top: -15px;
    z-index: 10;

    &::after {
      content: '';
      height: 1px;
      background-color: rgba(#273742, 0.3);
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 15px;
    }
  }

  .add-after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -16px;
    z-index: 10;

    &::after {
      content: '';
      height: 1px;
      background-color: rgba(#273742, 0.3);
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 15px;
    }
  }

  .add-before,
  .add-after {
    display: flex;
    justify-content: center;

    button {
      height: 31px;
      width: 31px;
      border-radius: 31px;
      min-width: unset;
      position: relative;
      z-index: 10;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .Menu {
    position: relative;
    z-index: 100;

    & > button {
      margin-right: 0;
    }

    & > .dropdown {
      position: absolute;
      top: calc(100% + 4px);
      padding: 10px;
      z-index: 100000;
      background-color: white;
      right: 0;
      border-radius: 4px;
      box-shadow: 0 0 10px rgba(#273742, 0.1);
      width: 300px;
      border: 1px solid rgba(#273742, 0.2);

      .Param {
        &:not(:nth-last-child(1)) {
          margin-bottom: 6px;
        }

        & > .label {
          white-space: nowrap;
          color: rgba(#273742, 0.7);
          font-weight: 500;
          font-size: 15px;
        }

        input {
          border: 1px solid rgba(#273742, 0.1);
          border-radius: 4px;
          padding: 6px 12px;
          outline: none;
          width: 100%;
          box-sizing: border-box;
        }
      }
    }
  }
}

section:hover > .SectionEditionComponent,
section.focused > .SectionEditionComponent {
  opacity: 1;
}
